@import './variables.scss';

.member{
	
	> .wrap{

		display:flex;
		flex-direction:row;
		margin-bottom:30px;
		
		b{
			color:$themeColor;
		}
		
		img{
			width:200px;
			margin:0 25px 0 0;
			
			@include mobile{
				width:80px;
				margin:0 10px 0 0;
			} 
		}
		
		p{
			text-align:justify;
			
			&.intro{
				display:block;
				@include mobile{
					display:none;
				}
			}
			
		}
	
		@include mobile{
			margin-bottom:0;
		}
	
	}
	
	> p.intro{
		display:none;
		margin-bottom:30px;
		
		@include mobile{
			display:block;
		}
	}
	
}