//Colors
$white: #FFF;
$lightGray: #DDD;
$black: #000;
$lightBlack: #474747;
$themeColor: #D72171;

//Media Queries
@mixin mobile{
  @media only screen and (max-width: 680px){
    @content;
  }
}